<html>
    <body>
      <h1>Hello</h1>

      <h2 id = "test"></h2>
        
        <script>
         var classCode = "<%= code %>";

         console.log(classCode)

         document.getElementById('test').innerHTML = classCode

        </script>
    </body>
</html>