<html>
  <head>

  </head>
  <body onload="readFilePath()">
    <script>
      function readFilePath(){
        var classCode = document.getElementById('classCode').value

        console.log(classCode)
        document.getElementById('classCode1').innerHTML = classCode
      }


    </script>
    <h1 id = "classCode"><%= code %></h1>

    <h1 id = "classCode1">test</h1>
  </body>

  
</html>

